.border{
    height: 460px;
    width: 320px;
    border: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    display: inline-block;
    background-color: rgb(243, 241, 241);
}


p ,h4{
  font-family: "Inter", sans-serif;
  font-optical-sizing: 10px;
  font-weight: 10px;
  font-style: solid;
}
h1{
    text-align: center;
    text-decoration: underline;
}
h1:hover{
    color: blue;
}

h1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;
}